body {
  background-color: black;
  justify-content: center;
  align-items: center;
  position: relative;
  border: #8f3027 2px solid;
  margin: 10px;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
  overflow: hidden;
  box-sizing: border-box;
}

h2 {
  color: white;
  font-size: 30px;
  padding-left: 100px;
  font-weight: 300px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  width: min(1100px, calc(100% - 20px));
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.box {
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  height: 280px; /* reduce vertical height */
}

.box:hover {
  border-color: #8f3027;
  box-shadow: 0 0 0 2px #8f3027;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* keeps proportions neat */
  border-radius: 8px;
}

.box.selected {
  border-color: #8f3027;
  box-shadow: 0 0 0 2px #8f3027;
}


.nextbtn {
  background-color: #8f3027;
  color: white;
  border: 2px solid #c46a58;
  border-radius: 6px;
  padding: 10px 28px;
  width: 100px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;      /* anchor to the bottom */
  bottom: 60px;            /* distance from bottom edge */
  left: 50%;               /* center horizontally */
  transform: translateX(-50%); /* perfect centering */
}

