body{
    margin: 0;
    padding: 0;
    background-image: url("../assets/F2bg.jpeg");
    background-size: cover;
    background-position: center; 
    height: 100vh;
    overflow: hidden;
}

.blurCenter {
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 20px;
    text-align: center;   
    left: 50%;                     
    transform: translateX(-50%);   
    width: 50%;                    
    height: 100%;                  
    backdrop-filter: blur(6px);   
    background-color: rgba(0, 0, 0, 0.25);
}

.option-box label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 25px;

}

.option-box input[type="radio"] {
  vertical-align: middle;
  margin-right: 10px;
}

.one{
    width: 200px;
    border-radius: 5px;
    background-image: url("../assets/silver background.jpeg");
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
}    

.two{
    width: 200px;
    background-image: url("../assets/silver background.jpeg");
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
}

.three{
    width: 200px;
    background-image: url("../assets/silver background.jpeg");
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
}

.four{
    width: 200px;
    background-image: url("../assets/silver background.jpeg");
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;

}

.five{
    margin-top: 80px;
    background-color:#A9A9A9;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}