body{
    margin: 0;
    padding: 0;
    background-image: url("../assets/F2bg.jpeg");
    background-size: cover;
    background-position: center; 
    height: 100vh;
    overflow: hidden;
}
.one{
    background-color: white;
    color: black;
    font-size: 40px;
    width: 400px;
}    

.two{
     background-color: white;
    color: black;
    font-size: 40px;
    width: 400px;

}
.three{
     background-color: white;
    color: black;
    font-size: 40px;
}
.four{
     background-color: white;
    color: black;
    font-size: 40px;

}
.five{
    margin-top: 50px;
   font-size: 20px;
   background-color:#00e5ff;
   width: 100px;
   padding: 10px;
   border-radius: 4px;

}
h1{
    color: #00e5ff;
}
.five:hover{
    cursor: pointer;

}